.flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    margin-top: 110px;
    justify-content: space-between;
}

.category{
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.category button{
    padding: 10px 20px;
    background-color:blanchedalmond;
}